D:\Pratik\Code\AdventOfCode-2024\C\Day-1\Part-1-Problem\locationlist.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-1\Part-1-Problem\1-ProblemStatement.md
D:\Pratik\Code\AdventOfCode-2024\C\Day-1\Part-1-Problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-1\Part-2-Problem\2-ProblemStatement.md
D:\Pratik\Code\AdventOfCode-2024\C\Day-1\Part-2-Problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-1\Part-2-Problem\locationlist.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-2\part-1-problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-2\part-1-problem\safeunsafereport.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-2\part-2-problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-2\part-2-problem\safeunsafereport.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-3\problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-3\problem\inputdata.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-3\problem\problemstatement.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-4\part-1-problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-4\part-1-problem\inputpuzzle.txt
D:\Pratik\Code\AdventOfCode-2024\C\Day-4\part-2-problem\a.exe
D:\Pratik\Code\AdventOfCode-2024\C\Day-4\part-2-problem\inputpuzzle.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-1\Problem-1\adventure-1-part1.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-1\Problem-1\locationlist.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-1\Problem-2\adventure-1-part2.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-1\Problem-2\locationlist.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-2\part-1-problem\part-1-problem.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-2\part-1-problem\safeunsafereport.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-2\part-2-problem\part-2-solution.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-2\part-2-problem\safeunsafereport.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-3\part-1-problem\inputdata.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-3\part-1-problem\part-1-solution.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-3\part-1-problem\problemstatement.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-3\part-2-problem\inputdata.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-3\part-2-problem\part-2-solution.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-3\part-2-problem\problemstatement.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-4\part-1-problem\inputpuzzle.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-4\part-1-problem\part-1-solution.exe
D:\Pratik\Code\AdventOfCode-2024\Go\Day-4\part-2-problem\inputpuzzle.txt
D:\Pratik\Code\AdventOfCode-2024\Go\Day-4\part-2-problem\part-2-solution.exe